.notes-page {
    width: 90%;
    padding: 50px;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.note {
    background-color: #EEE;
    padding: 30px;
    width: 25%;
    max-height: 200px;
    overflow: hidden;
    margin-right: 30px;
    margin-bottom: 25px;
}

.add-note-button {
    top: 0;
    left: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    outline: none;
    border: none;
    background-color: #353535;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.delete-all-note-button {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    outline: none;
    border: none;
    background-color: #e74c3c;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.btn-delete {
    margin-bottom: 10px;
    outline: none;
    border: none;
    background-color: #e74c3c;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.btn-delete.hidden {
    display: none;
}

.btn-save {
    margin-bottom: 10px;
    outline: none;
    border: none;
    background-color: #353535;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}


.note p {
    max-height: 200px;
    /* overflow: auto; */
}

.buttons {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}